header{
    background-color: #00305d;
    background: linear-gradient(#0093d0, #00305d);
}

.main-sidebar {
    background-color: #00305d;
}
/*.box .box-header {
    background-color: #00305d;
    background: linear-gradient(#0093d0, #00305d);
}*/
